<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="(/$|\.)" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{URL}/" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}\.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^public/css/(.*)" />
                    <action type="Rewrite" url="/template/style/{R:1}" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^public/img/(.*)" />
                    <action type="Rewrite" url="/template/image/{R:1}" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^public/js/(.*)" />
                    <action type="Rewrite" url="/template/javascript/{R:1}" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^public/scss/(.*)" />
                    <action type="Rewrite" url="/template/scss/{R:1}" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^public/lib/(.*)" />
                    <action type="Rewrite" url="/template/jquery/{R:1}" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^public/skins/(.*)" />
                    <action type="Rewrite" url="/template/skins/{R:1}" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^public/font/(.*)" />
                    <action type="Rewrite" url="/template/fonts/{R:1}" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^file/(.*)" />
                    <action type="Rewrite" url="/upload/{R:1}" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^login/$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=login" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^logout/$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=logout" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^api/cocaf/validate/?$" />
                    <action type="Rewrite" url="index.php?controller=api&amp;view=validate" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^uat/api/cocaf/validate/?$" />
                    <action type="Rewrite" url="index.php?controller=uat&amp;view=validate" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^([a-z]+)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller={R:1}&amp;view={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^([a-z]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller={R:1}&amp;view=index" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^bad-request/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error400" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^unauthorized/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error401" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^forbidden/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error403" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^page-not-found/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error404" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^internal-server-error/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error500" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^coming-soon/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=coming-soon" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^under-maintenance/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=under-maintenance" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration>
